
/.vs
/anybotics-anymal-api/bin
/anybotics-anymal-api/obj
/anybotics-anymal-common/obj
/anybotics-anymal-common/bin
/anybotics-agent-runner/bin
/anybotics-agent-runner/obj
/anybotics-unit-tests/bin
/anybotics-unit-tests/obj
/anybotics-workforce-ng/test-results.json
/anybotics-workforce-ng/test-results/.last-run.json
