.userList {
    padding: 0;
}

.userList h2 {
    margin-bottom: 20px;
}

.userList ul {
    list-style-type: none;
    padding: 0;
}

.userList li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.deleteButton {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: darkred;
}
