.userList {
    padding: 0;
}

.userList h2 {
    margin-bottom: 20px;
}

.userList ul {
    list-style-type: none;
    padding: 0;
}

.userList li {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
