@if (isLoading) {
<mat-spinner mode="indeterminate"></mat-spinner>
} @else {
<mat-card class="user-list-card">
  <mat-card-header>
    <mat-card-title>Users</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (user of users; track user.uid) {
    <div style="padding: 12px">
      <div>{{ user.uid }}</div>
      <div>{{ user.email }}</div>
      <button mat-raised-button color="warn" (click)="deleteUser(user.uid)">Delete</button>
    </div>
    }
  </mat-card-content>
</mat-card>
}