<mat-card class="agent-card">
  <mat-card-header>
    <div mat-card-avatar class="dog-robot-image"></div>
    <mat-card-title>{{ agent.name }}</mat-card-title>
    <mat-card-subtitle class="agent-id">
      <span>ID: {{ agent.id }}</span>
      <button
        mat-icon-button
        (click)="copyToClipboard(agent.id)"
        aria-label="Copy ID"
      >
        <mat-icon>content_copy</mat-icon>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <app-agent-battery-level [batteryLevel]="agent.batteryLevel"></app-agent-battery-level>
    <app-agent-status [status]="agent.status"></app-agent-status>
  </mat-card-content>
  @if (displayActions) {
    <mat-card-actions>
      <button mat-raised-button color="primary" [routerLink]="['/agents', agent.id]">Details</button>
      <button mat-button color="accent" (click)="onCommands()">Commands</button>
      <button mat-button color="accent" (click)="onMissions()">Missions</button>
    </mat-card-actions>
  }
</mat-card>
