<mat-form-field class="sorting-dropdown" appearance="outline">
  <mat-select class="sort-options"
    placeholder="Sort Agents"
    [(value)]="sortOption"
    (selectionChange)="onSortOptionChange($event.value)"
  >
    <mat-option value="nameAsc">Name (A to Z)</mat-option>
    <mat-option value="nameDesc">Name (Z to A)</mat-option>
    <mat-option value="batteryAsc">Battery Level (Low to High)</mat-option>
    <mat-option value="batteryDesc">Battery Level (High to Low)</mat-option>
  </mat-select>
</mat-form-field>
